In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [60]:
url="http://statisticstimes.com/economy/european-union-countries-by-gdp-per-capita.php"
html=urlopen(url)
soup=BeautifulSoup(html,'lxml')
tables=soup.findChildren('table')
my_table=tables[2]

In [61]:
rows=my_table.findChildren(['th','tr'])

In [62]:
country=[]
eu=[]
world=[]
gdp17=[]
gdp18=[]
rows=my_table.findChildren('tr')
for row in rows:
    cells=row.findChildren('td')
    for cell in cells[0:1]:
          country.append(cell.text)
    for cell in cells[1:2]:
          gdp17.append(cell.text)
    for cell in cells[2:3]:
          gdp18.append(cell.text)
    for cell in cells[6:7]:
          eu.append(cell.text)
    for cell in cells[7:8]:
          world.append(cell.text)
country.pop()
eu.pop()
world.pop()
gdp17.pop()
gdp18.pop()
df=pd.DataFrame()


df['Country/Economy']=country
df['EU Rank']=eu
df['World']=world
df['$ GDP 2017']=gdp17
df['$ GDP 2018']=gdp18
df.sort_values(['EU Rank'])

    Country/Economy EU Rank World $ GDP 2017 $ GDP 2018
17       Luxembourg       1     3    105,148    109,199
27   United Kingdom      10    28     44,292     45,643
9            France      11    29     44,081     45,601
18            Malta      12    30     41,839     44,587
24            Spain      13    33     38,381     40,371
14            Italy      14    36     38,233     39,472
4            Cyprus      15    37     37,172     39,302
5    Czech Republic      16    40     35,537     37,423
23         Slovenia      17    41     34,480     36,826
22  Slovak Republic      18    42     33,070     35,099
16        Lithuania      19    43     32,379     34,829
13          Ireland       2     6     73,215     77,670
7           Estonia      20    45     31,649     33,553
21         Portugal      21    48     30,487     32,023
20           Poland      22    49     29,642     31,647
12          Hungary      23    50     29,559     31,561
15           Latvia      24    53     27,702     29,488
11           Greece      25    54     27,796     29,112
3           Croatia      26    61     24,749     26,216
26          Romania      27    62     24,605     26,176
2          Bulgaria      28    66     21,768     23,207
19      Netherlands       3    14     53,933     56,571
10          Germany       4    18     50,804     52,897
25           Sweden       5    19     51,185     52,719
0           Austria       6    21     50,031     52,225
6           Denmark       7    22     50,071     51,841
1           Belgium       8    25     46,621     48,179
8           Finland       9    26     44,492     46,559